nav{
    background-image: url('../images/banner/banner1.png');
    background-size: cover;
    background-position: cover;
}
*{
    margin-top: 0px;
}
.right{
    padding-right: 100px;
    text-align: right;
}
header{
    max-width: 1600px;
    margin: 0 auto;
}
p{
    padding-top: 250px;
    padding-left: 65%;
    font-size: 48px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
h4{
    padding-top: 5px;
    padding-left: 65%;
    color: rgba(0, 0, 0, 0.555);
}
button{
    padding: 15px 30px;
    background-color: tomato;
    border: 0px;
    color: aliceblue;
    border-radius: 5px;
    margin-bottom: 180px;
}

.s1{
    display: flex;
    /* margin-top: 150px; */
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 150px;
}
h1{
    max-width: 288px;
    font-weight: bold;
    padding-left: 35%;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#p{
  padding-left: 35%;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.521);
  font-family:'Courier New', Courier, monospace;
}
h5{
    padding-left: 35%;
    color: rgba(20, 17, 238, 0.623);
}
